.nav {
  background-color: #1d1d1f;
  width: 100%;
  top: 0;
}

.nav ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav li {
  margin: auto 0;
}

.icon {
  color: rgb(77, 77, 77);
  margin: 0 1rem;
}

.nav input {
  border-radius: 20px;
  background-color: rgb(196, 196, 196)
}