.results-card {
  margin: 0 auto;
  width: 80%;
}

@media (max-width: 700px) {
  .results-card ul {
    grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 701px) {
  .results-card ul {
    grid-template-columns: repeat(6, auto);
  }
}

.results-card ul {
  margin: 0;
  padding: 3rem 0;
  display: grid;
  grid-template-rows: 13rem;
  list-style-type: none;
}

.results-card img {
  border-radius: 5px;
}

.results-card ul h1 {
  font-size: medium;
  margin: 0.2rem 0;
}

.results-card p {
  font-size: medium;
  margin: 0.2rem 0;
}
