.statistics {
  margin: 0 auto;
  width: 80%;
}

@media (min-width: 701px) {
  .statistics ol {
    font-size: 50px;
  }
}

@media (max-width: 700px) {
  .statistics ol {
    font-size: 20px;
  }
}

.statistics ol {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: auto;
  font-weight: bold;
  margin: 0.2rem 0;
  list-style-position: inside;
}

.statistics .vis-network {
  margin: 0 auto;
}
